@font-face {
    font-family: 'Aovel Sans Rounded';
    src: url('AovelSans-Rounded.woff2') format('woff2'),
        url('AovelSans-Rounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

