*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
}
/* Section 1 */
.about_us{
    background-color: #95dfcd;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.header{
    text-align: center;
    background-color: #330303;
    color: #fff;
}
.logo img{
    margin-top: 30px;
    margin-left: 30px;
    width: 20%;
}
.content{
    width: 50%;
    padding: 50px;
    float: left;
}
.content a{
    margin: 10px;
    display: inline-block;
}
.content h1{
    font-size: 35px;
}

.coffee{
    width: 50%;
    padding: 50px;
    float: left;
}
.coffee img{
    width: 100%;
}
.main{
    overflow: auto;
}
.content a{
    color: #fff;
    background-color: rgb(77, 33, 2);
    box-sizing: border-box;
    border:  rgb(77, 33, 2);
    border-radius: 2px;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
}
/* Section 2 */
.about_us1{
    background-color: #ffffff;
}
.container1{
    max-width: 1200px;
    margin: auto;
}
.header1{
    text-align: center;
    padding: 20px;
}
.content1{
    width: 50%;
    padding: 50px;
    float: left;
}
.coffee1{
    padding: 60px;
    float: left;
}
.main1{
    overflow: auto;
}.content1 p{
    text-align: justify;
}
.content1 a{
    color: #fff;
    background-color: rgb(77, 33, 2);
    box-sizing: border-box;
    border:  rgb(77, 33, 2);
    border-radius: 2px;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    
}
/* Section 3 */
.about_us2{
    background-color: #c4f773;
}
.container2{
    max-width: 1200px;
    margin: auto;
    padding: 50px;

}
.photo{
    width: 100%;
}
.photo img{
    width: 100%;
   
}
.main2{
    border: 1px solid black;
    width: 31%;
    padding: 5px;
    display: inline-block;
    margin-left: 20px;
}

.heading{
    text-align: center;
    margin-bottom: 30px;
}
.heading h2{
    font-size: 25px;
    color: black;
    font-family: 'Poppins', sans-serif;
}
/* .photo img{
    width: 248px;
    height: 270px
}
.photo{
    width: 250px;
    height: 390px;
    box-sizing: border-box;
    border: 1px solid black;
    display: inline-block;
    margin-left: 70px;
} */
/* .photo{
    width: 250px;
    height: 390px;
    box-sizing: border-box;
    border: 1px solid black;
}     */
/* Section 4 */
.about_us3{
    background-color: #ffffff;
}
.container4{
    max-width: 1200px;
    margin: auto; 
}
.main3{
    overflow: auto;
}
.coffee4{
     width: 50%;
     padding: 50px;
     float: left;
}
.content4{
    width: 50%;
    padding: 30px;
    float: left;
}
.content4 p{
    width: 100%;
    text-align: justify;
}
.coffee4 img{
    width: 100%;
}
.footer{
    margin: auto;
    color: #fff;
    text-align: center;
    background-color: #330303;
}
