@media screen and (max-width: 768px) {
    p.text-secondary {
        font-size: 14px;
    }
    .center {
        font-size: 14px;
    }
    .down1 {
        top: 29%;
    }
    a.nav-link2 {
        margin-top: 5px;
        font-size: 14px;
    }
    a.nav-link1{
        font-size: 14px;
    }
    .btn-primary1 {
        margin-left: 70px;
        margin-right: -45px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .btn-primary2 {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 7px;
    }
    .btn {
        font-size: 14px;
    }
    .tab_text{
        font-size: 12px !important;
    } 
}
.navbar-light .navbar-toggler {
    z-index: 5;
    margin-left: auto;
}
@media screen and (max-width: 992px) {
.btn-primary2 {
    margin-left: 17px;
}
.d_flex{
    align-items: center;
}
.btn-primary {
    padding-left: 16px;
    padding-right: 16px;
}
.main_img {
    width: 100%;
    height: 40vh;
    background-size: contain;
}
.form_move{
    position: absolute;
    bottom: 61%;
    padding: 30px 50px;
    background-color: #100d03ba;
    border-radius: 10px;
    margin-right: 8%;
    margin-left: 0%;
}
.head {
    background-color: #544c49;
    z-index: 6;
}
.logo_img {
    z-index: 7;
}
}
@media screen and (max-width: 1024px) {
    .space1{
        display: none;
    }
    .space2{
        display: none;
    }
    .pad{
        margin-top: 0;
    }
    .center {
        margin: auto;
    }
}
@media screen and (max-width: 525px) {
    .navbar {
        justify-content: end;
    }
    .space {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 auto;
        max-width: 100%;
    }
    .tab_text {
        font-size: 8px !important;
    } 
    p.text-secondary {
        font-size: 18px;
    } 
    .border1 {
        margin-top: 30px;
    }
    .main_img {
        width: 100%;
        height: 65vh !important;
        background-size: contain;
    }
    #slider2 .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        height: 50vh;
    }  
    #slider1 .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        height: 50vh;
    } 
    .form_move {
        position: absolute !important;
        bottom: 39% !important;
        padding: 30px 50px !important;
        background-color: #100d03ba !important;
        border-radius: 10px !important;
        margin-right: 0% !important;
        margin-left: -5% !important;
    } 
}
@media screen and (max-width: 667px) {
    .main_img {
        width: 100%;
        height: 100vh;
        background-size: contain;
    }
    .form_move {
        position: absolute;
        bottom: 1%;
        padding: 30px 50px;
        background-color: #100d03ba;
        border-radius: 10px;
        margin-right: 8%;
        margin-left: -5%;
    }
}